---
import IrvinHeader from '../components/IrvinHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Irvin Real | Front End Web Developer'>
  <main class='w-full h-full flex flex-col pt-28'>
      <IrvinHeader />
      <!-- <IrvinFooter /> -->
  </main>
</Layout>
