---
import IrvinHeader from '../components/IrvinHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Irvin Real | Front End Web Developer'>
  <main class='w-full flex flex-col pt-32'>
      <IrvinHeader />
      <!-- <IrvinFooter /> -->
  </main>
</Layout>
