---
import IrvinHeader from '../components/IrvinHeader.astro';
import MainInfo from '../components/MainInfo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Irvin Real | Front End Web Developer'>
  <main class='w-full flex flex-col pt-32'>
      <IrvinHeader />
      <!-- MainInfo: 
          - Crear Elemento html summary y details para abrir y cerrar el parrafo 
      -->
      <MainInfo />
      <!-- Projects -->
       

    </main>
    <!-- <IrvinFooter /> -->
</Layout>
