---
import Footer from '../components/FooterSectionV2.astro';
import IrvinHeader from '../components/IrvinHeader.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import TecnologiesAndKnowledgeSection from '../components/TecnologiesAndKnowledgeSection.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title='Irvin Real | Front End Web Developer'>
  <main class='w-full flex flex-col pt-32 gap-y-24'>
      <IrvinHeader />
      
      <div class="text-center flex flex-col gap-20">
        <ProjectsSection />
        <TecnologiesAndKnowledgeSection />
        <article class="pl-28 py-4">
          <h3 class="dark:text-gray-100 tracking-wide font-light py-1 text-start pl-10">Soft Skills</h3>
          <ul class="[&>li]:dark:text-gray-400 [&>li]:font-thin px-6 list-disc text-start">
            <li>Capacidad de hablar en público</li>
            <li>Interacción con clientes</li>
            <li>Trabajo en equipo</li>
            <li>Capacidad de apatación al cambio</li>
            <li>Aprendizaje autónomo</li>
            <li>Integridad y valores</li>
            <li>Habilidades interpersonales como:
              <ul class="list-disc ms-3 dark:text-gray-400">
                <li>Paciencia</li>
                <li>Empatía</li>
                <li>Buena actitud</li>
              </ul>
            </li>
            <li>Inteligencia emocional</li>
            <li>Responsabilidad</li>
            <li>Disciplina</li>
            <li>Proactividad</li>
            <li>Capacidad para enseñar</li>
            <li>Creatividad</li>
          </ul>
        </article>
      </div>

  </main>
  <Footer />
</Layout>
