---
import Layout from '../layouts/Layout.astro'
import HeaderSection from '../components/HeaderSection.astro'
import FooterSection from '../components/FooterSection.astro'
import Aboutme from '../components/Aboutme.astro'
import LandingHeader from '../components/LandingHeader.astro'
import ComeUpBtn from '../components/ComeUpBtn.astro'
import Projects from '../components/Projects.astro'
import ComeDownBtn from '../components/ComeDownBtn.astro'
---

<Layout title='Irvin Real | Front End Web Developer'>
  <main
    id='scroller'
    class='snap-y snap-mandatory relative w-full max-h-screen overflow-auto scroll-smooth'
  >
    <LandingHeader />
    <!-- Presentation and navegation links -->
    <div class='snap-center'>
      <HeaderSection />
    </div>
    <!-- Go to other pages or do something -->
    <div class='snap-center'>
      <Projects />
    </div>
    <!-- Footer -->
    <footer class='snap-center'>
      <FooterSection />
    </footer>
    <!-- About me -->
    <div class='snap-center'>
      <Aboutme />
    </div>
    <ComeUpBtn />
    <ComeDownBtn />
  </main>
</Layout>

<!-- script for: navbar < btnMenu > -->
<script>
  const btnMenu = document.getElementById('btnMenu')
  const navbar = document.getElementById('navbar')
  const bgWhiteNavbar = document.getElementById('bg-white-navbar')
  const ulNavbar = document.getElementById('ulNavbar')
  const btnCloseNav = document.getElementById('btnCloseNav')
  const darkModeToggler = document.querySelector('.darkModeToggler')

  const handleClickBtnMenu = (e) => {
    navbar.classList.toggle('opacity-0')
    bgWhiteNavbar.classList.toggle('translate-y-full')
    ulNavbar.classList.toggle('hidden')
    ulNavbar.classList.toggle('flex')
    btnMenu.classList.add('opacity-0')
    btnMenu.classList.add('hidden')
    darkModeToggler.classList.add('hidden')
  }

  const handleClickBtnCloseNav = (e) => {
    navbar.classList.add('opacity-0')
    bgWhiteNavbar.classList.toggle('translate-y-full')
    ulNavbar.classList.toggle('hidden')
    ulNavbar.classList.toggle('flex')
    btnMenu.classList.remove('opacity-0')
    btnMenu.classList.remove('hidden')
    darkModeToggler.classList.remove('hidden')
  }

  btnMenu.addEventListener('click', handleClickBtnMenu)
  btnCloseNav.addEventListener('click', handleClickBtnCloseNav)
</script>

<style>
  main::-webkit-scrollbar {
    width: 0px;
    /* width: 10px; */
  }

  /* main::-webkit-scrollbar-track {
    background: rgb(3, 7, 18, 0.4);
  }

  main::-webkit-scrollbar-thumb {
    background-color: rgb(99, 99, 126);
    border-radius: 20px;
  } */
</style>
