<section
  data-ComeUpBtn-color='black'
  data-ComeUpBtn-background-color='white'
  data-ComeUpBtn-display='block'
  class='landing-section w-full min-h-[100dvh] bg-neutral-900 text-white flex flex-col justify-center items-center gap-10 relative'
>
  <h2 class='text-2xl text-center cursor-default'>
    Wanna know more about me.. <span
      class='text-[26rem] opacity-5 font-bold absolute right-64 top-48'>?</span
    >
  </h2>
  <a
    href='/about'
    class='py-1 px-2 border-b rounded-sm transition-all duration-300 ease-in-out border-white cursor-pointer hover:bg-white hover:text-black hover:shadow-xl hover:shadow-black hover:rounded-bl-lg delay-100'
    >Let me tell you..</a
  >
</section>
