<section
  data-ComeUpBtn-color='rgb(17 24 39)'
  data-ComeUpBtn-background-color='rgb(229 231 235)'
  data-ComeUpBtn-display='block'
  data-ComeDownBtn-display='none'
  class='landing-section w-full min-h-[100dvh] bg-neutral-900 dark:bg-gray-950 text-white flex flex-col justify-center items-center gap-10 relative'
>
  <h2 class='text-2xl text-center cursor-default'>
    Wanna know more about me.. <span
      class='text-[26rem] opacity-5 font-bold absolute left-0 md:left-2/3 right-0 md:right-1/6 top-48'
      >?</span
    >
  </h2>
  <a
    href='/about'
    class='py-1 px-2 border-b rounded-sm transition-all duration-300 ease-in-out border-white cursor-pointer hover:bg-white hover:text-black hover:shadow-xl hover:shadow-black hover:rounded-bl-lg delay-100'
    >Let me tell you..</a
  >
</section>
