<div class="backdrop-layout"></div>

<style>
  .backdrop-layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background: linear-gradient(0deg, rgb(9, 16, 29) 14%,  rgba(0, 0, 0, 0) 40%);
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;

    animation: progress-grow-backdrop auto linear;
    animation-timeline: scroll(root);

  }

  @media (max-width: 600px) {

  .backdrop-layout {
    background: linear-gradient(0deg, rgb(9, 16, 29) 22%,  rgba(0, 0, 0, 0) 40%);
  }
}

  @keyframes progress-grow-backdrop {
    0% {
      visibility: visible;
      opacity: 1;
    }

    4% {
      opacity: 0;
      visibility: hidden;
    }

    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
</style>