<span
  id='ComeDownBtn'
  class='fixed z-50 bottom-10 md:bottom-10 right-4 md:right-10 opacity-95 md:opacity-100 bg-gray-900 text-white transition-all duration-150 ease-in cursor-pointer rounded-full md:rounded-sm shadow-md shadow-black hover:shadow-lg hover:shadow-black'
>
  <!-- href='#header-section' -->
  <a
    id='button-ComeDown'
    class='font-light px-3 py-3 md:px-4 md:py-1 flex items-center gap-2'
    >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='16'
      height='16'
      fill='currentColor'
      class='bi bi-caret-down'
      viewBox='0 0 16 16'
    >
      <path
        d='M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z'
      ></path>
    </svg></a
  >
</span>

<script>
  // intersection observer
  const comeDownBtn = document.querySelector('#ComeDownBtn') as HTMLElement
  const scroller = document.querySelector('#scroller')

  comeDownBtn.addEventListener('click', function () {
    scroller.scrollTop += scroller.clientHeight
    // console.log(scroller.scrollTop)
    // console.log(scroller.clientHeight, 'client height')
  })

  const observerOptions = {
    root: null,
    rootMargin: '0px',
    threshold: 0.9
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry

      if (isIntersecting) {
        const color = entry.target.getAttribute('data-ComeDownBtn-color')
        const backgroundColor = entry.target.getAttribute(
          'data-ComeDownBtn-background-color'
        )
        const display = entry.target.getAttribute('data-ComeDownBtn-display')
        comeDownBtn.style.color = color
        comeDownBtn.style.backgroundColor = backgroundColor
        comeDownBtn.style.display = display
      }
    })
  }, observerOptions)

  const sections = document.querySelectorAll('.landing-section')
  sections.forEach((section) => observer.observe(section))
</script>
