---
---

<footer class='w-full absolute bottom-0 left-0 right-0 flex justify-center items-center gap-4 md:gap-14 py-2 md:px-12 bg-black/20'>
  <a
    href='https://astro.build/'
    target='_blank'
    class='flex justify-center items-center md:gap-1 w-full md:w-fit text-zinc-700 dark:text-gray-400 text-sm font-extralight tracking-widest cursor-pointer'
  >
    <span>Created with</span>
    <span><img alt='astro logo' src='/irvin-landing/imgs/astro-logo-light-gradient.svg'  class="max-h-7 md:max-h-6" /></span>
  </a>
</footer>