---
import Email from './icons/Email.astro'
import Github from './icons/Github.astro'
// import LinkedIn from './icons/LinkedIn.astro'
import WhatsApp from './icons/WhatsApp.astro'
import HtmlSkill from './HtmlSkill.astro'
import AstroSVG from './icons/Astro.astro'
import { SKILLS } from '../constants/footerSection.js'
---

<section
  data-ComeUpBtn-color='white'
  data-ComeUpBtn-background-color='rgb(17 24 39)'
  data-ComeUpBtn-display='block'
  id='contactme'
  class='landing-section h-screen flex flex-col justify-evenly items-center relative'
>
  <!-- Skills -->
  <section
    id='container-skills'
    class='h-full w-full text-center flex flex-col justify-center items-center'
  >
    <h3
      class='font-medium text-teal-950 dark:text-gray-100 inline-block tracking-widest'
    >
      Skills
    </h3>
    <div
      class='relative md:px-10 my-5 w-full gap-y-3 flex justify-center items-center flex-wrap py-2'
    >
      {
        SKILLS.map(({ title, img, alt, imgId = '', spanId }) => (
          <article class='min-w-fit relative group art-skill-An'>
            <div class='md:w-fit mx-3 dark:drop-shadow-[0_8px_6px_rgba(0,0,0,0.5)] drop-shadow-[0_4px_3px_rgba(0,0,0,0.4)]'>
              {<HtmlSkill img={img} alt={alt} imgId={imgId} />}
            </div>
          </article>
        ))
      }
    </div>
  </section>

  <!-- Contacto -->
  <section id='#contact' class='h-full w-full px-8 pt-10 relative'>
    <h3
      class='h-full font-medium ps-2 text-teal-950 dark:text-gray-100 tracking-widest'
    >
      Contact
    </h3>
    <div
      class='absolute top-20 flex flex-col gap-3 [&>a]:flex [&>a]:items-center [&>a]:gap-2 [&>a]:text-sm [&>a]:text-teal-950 [&>a]:font-thin'
    >
      <!-- hover: mostrar la dirección de correo o el número de whatsApp mediante animación -->
      <div class='relative'>
        <div
          class='relative z-10 w-40 h-6 hover:w-80 group/email flex items-center'
        >
          <a
            href='mailto:irvin.glez.real@hotmail.com'
            target='_blank'
            class='flex w-40 items-center gap-2 absolute z-40 bg-neutral-800 dark:bg-gray-950 text-white px-4 py-1 rounded-sm transition-colors ease-out duration-200 md:cursor-pointer md:hover:bg-neutral-700 dark:md:hover:bg-gray-900'
            ><span class='text-white'>{(<Email />)}</span><span
              class='text-white text-xs'>E-mail</span
            ></a
          >

          <div
            class='a-reference flex justify-center items-center bg-white absolute -z-10 top-0 left-0 w-40 h-7 rounded transition-all duration-500 ease-in-out group-hover/email:translate-x-full group-hover/email:ms-3 hover:cursor-pointer'
          >
            <div
              class='relative w-full h-full flex justify-center items-center group/item'
            >
              <p
                class='text-xs h-full w-full flex justify-center items-center email-text-to-copy'
              >
                irvin.glez.real@hotmail.com
              </p>
              <p
                class='copyMessage_reference bg-white/30 opacity-0 hidden w-fit h-7 border rounded absolute left-full ms-1 top-0 px-2 text-xs transition-all duration-500 ease-in-out group-hover/item:flex group-hover/item:items-center group-hover/item:opacity-100 text-white'
              >
                copiar!
              </p>
            </div>
          </div>
          <div class='absolute z-30 top-0 left-0 w-40 h-7 bg-white rounded'>
          </div>
        </div>
      </div>
      <div class='relative z-10 w-40 h-6 hover:w-80 group flex items-center'>
        <a
          href='https://wa.me/3333533176?text=Hola+Irvin!'
          target='_blank'
          class='flex w-40 items-center gap-2 absolute z-50 bg-neutral-800 dark:bg-gray-950 text-white px-4 py-1 rounded-sm transition-all ease-out duration-500 md:cursor-pointer md:hover:bg-neutral-700 dark:md:hover:bg-gray-900'
          ><span class='text-white'>{(<WhatsApp />)}</span><span
            class='text-white text-xs'>whatsApp</span
          ></a
        >

        <div
          class='a_box-reference flex md:hidden w-40 items-center gap-2 absolute z-40 bg-neutral-800 dark:bg-gray-950 text-white px-4 py-1 rounded-sm transition-all ease-out duration-500 md:cursor-pointer md:hover:bg-neutral-700 dark:md:hover:bg-gray-900'
        >
          <span class='text-white'>{(<WhatsApp />)}</span><span
            class='text-white text-xs'>whatsApp</span
          >
        </div>

        <div
          class='a-reference flex justify-center items-center bg-white absolute z-10 top-0 left-0 w-40 h-7 rounded transition-all duration-500 ease-in-out group-hover:translate-x-full md:group-hover:ms-3 hover:cursor-pointer group-focus:z-50'
        >
          <div
            class='relative w-full h-full flex justify-center items-center group/item'
          >
            <p
              class='text-xs h-full w-full flex justify-center items-center wapp-text-to-copy'
            >
              (+52) 33 33 53 31 76
            </p>
            <p
              class='copyMessage_reference bg-white/30 opacity-0 hidden w-fit h-7 border rounded absolute left-full ms-1 top-0 px-2 text-xs transition-all duration-500 ease-in-out group-hover:flex group-hover:items-center group-hover/item:opacity-100 text-white'
            >
              copiar!
            </p>
          </div>
        </div>
        <div class='absolute z-30 top-0 left-0 w-40 h-7 bg-white rounded'></div>
      </div>
    </div>

    <div
      class='absolute bottom-0 left-0 w-full flex justify-center items-center gap-14 py-2 px-12 bg-black/20'
    >
      <a
        href='https://github.com/irvinreal'
        target='_blank'
        class='w-fit text-gray-200 text-sm font-extralight tracking-widest flex justify-center items-center gap-2 cursor-pointer'
      >
        <span><Github /></span>
        <span>irvinreal</span>
      </a>
      <a
        href='https://astro.build/'
        target='_blank'
        class='w-fit text-gray-200 text-sm font-extralight tracking-widest flex justify-center items-center gap-1 cursor-pointer'
      >
        <span>Created with</span>
        <span class='pt-1'><AstroSVG /></span>
      </a>
    </div>
  </section>
</section>

<script>
  const a_reference = document.querySelectorAll('.a-reference')
  const copyMessage_reference = document.querySelectorAll(
    '.copyMessage_reference'
  )

  a_reference.forEach((reference) => {
    reference.addEventListener('click', function (e) {
      const email = e.target.classList.value.includes('email-text-to-copy')
      const wapp = e.target.classList.value.includes('wapp-text-to-copy')

      if (email || wapp) {
        const toCopy = e.target.innerText
        navigator.clipboard.writeText(toCopy)
        navigator.clipboard.readText().then((res) => {
          console.log(res)
        })
      }

      // Reiniciar el estado de los copyMessage
      copyMessage_reference.forEach((element) => {
        element.classList.remove('border-gray-950')
        element.classList.remove('text-gray-950')
        element.innerText = 'copiar!'
      })

      // Colocar el nuevo estado al copyMessage referenciado
      const copyMessage = e.target.nextElementSibling

      copyMessage.classList.add('border-gray-950')
      copyMessage.classList.add('text-gray-950')
      copyMessage.innerText = 'copiado!'
    })
  })

  // Si la pantalla tiene menos de 768px
  if (window.innerWidth < 768) {
    const a_reference = document.querySelectorAll('.a_box-reference')

    a_reference.forEach((reference) => {
      reference.addEventListener('touchstart', function () {
        console.log(a_reference.parentElement)
      })
    })
  }
</script>
