<section
  data-ComeUpBtn-color='black'
  data-ComeUpBtn-background-color='white'
  data-ComeUpBtn-display='none'
  id='header-section'
  class='landing-section relative min-w-full min-h-[100dvh] text-center flex flex-col justify-center items-center gap-6'
>
  <div>
    <img
      class='w-fit h-auto'
      src='../../public/imgs/irvin-foto-transparente.png'
    />
  </div>
  <h1
    class='text-3xl font-medium text-gray-800 dark:text-blue-100 dark:font-normal'
  >
    Hi!, I'm Irvin Real
  </h1>
  <h2
    class='[&>span]:text-4xl md:[&>span]:text-[4rem] md:[&>span]:leading-none [&>span]:block lg:[&>span]:inline [&>span]:font-semibold animate-coloring dark:animate-none'
  >
    <span class='md:me-5'>Front End</span>
    <span>Web Developer</span>
  </h2>
</section>
