<section
  data-ComeUpBtn-color='black'
  data-ComeUpBtn-background-color='white'
  data-ComeUpBtn-display='none'
  id="header-section"
  class='landing-section relative min-w-full min-h-[100dvh] text-center flex flex-col justify-center items-center gap-6'
>
  <div>
    <img
      class='w-fit h-auto'
      src='../../public/imgs/irvin-foto-transparente.png'
    />
  </div>
  <h1 class='text-3xl font-medium text-gray-800'>Hi!, I'm Irvin Real</h1>
  <h2
    class='[&>span]:text-4xl md:[&>span]:text-[4rem] [&>span]:block lg:[&>span]:inline [&>span]:font-semibold animate-coloring'
  >
    <span>Front End</span>
    <span>Web Developer</span>
  </h2>
  <div class='flex gap-5'>
    <img
      src='../../public/imgs/skillsImgs/javascript.png'
      alt='javascript logo'
      width='35'
      height='auto'
      loading='lazy'
      class='rounded-md'
    />
    <span class='text-gray-700 text-xl font-semibold flex items-center'>&</span>
    <img
      src='../../public/imgs/skillsImgs/reactjs-header.png'
      alt='react js logo'
      width='35'
      height='auto'
      loading='lazy'
      class='rounded-md'
    />
  </div>
</section>
