---
import Email from '../components/icons/Email.astro';
import Github from '../components/icons/Github.astro';
import MainInfo from "./MainInfo.astro";

---

<section class='landing-section relative min-w-full h-full text-center pt-5'>
  <div class="flex flex-row justify-center items-center gap-5 w-fit md:mx-auto ease-out duration-200 delay-75  px-4 md:px-0 group">
    <div>
      <img
        class='w-24 h-auto drop-shadow-[0_2px_1px_rgba(255,255,255,0.4)] duration-200 ease-out group-hover:drop-shadow-[0_3px_1px_rgba(255,255,255,0.4)]'
        src='imgs/irvin-foto-transparente.png'
        alt="irvin png"
      />
    </div>

    <div class="inline-flex flex-col items-start content-start">
      <div>
        <h1
        class='text-2xl font-medium text-gray-600 dark:text-gray-300  dark:font-normal'
        >
      <span class="text-white  h-fit text-2xl font-sans font-light drop-shadow-[0_1px_2px_rgba(255,255,255,0.3)] ease-out duration-200 group-hover:drop-shadow-[0_2px_3px_rgba(255,255,255,0.4)]">Irvin Real</span>
        </h1>
        <h2
        class='text-md font-light text-gray-200 drop-shadow-[0_2px_2px_rgba(255,255,255,0.2)] ease-out duration-200 group-hover:drop-shadow-[0_2px_3px_rgba(255,255,255,0.4)]'
        >
          Front End Web Developer
        </h2>
      </div>
      <div class="flex gap-3 mx-auto mt-2">
        <a href='mailto:irvin.glez.real@hotmail.com' target='_blank' class='w-fit text-zinc-700 dark:text-gray-400 cursor-pointer duration-100 ease-out hover:scale-110 hover:-translate-y-1'>
          <span><Email /></span>
        </a>
        <a
        href='https://github.com/irvinreal'
        target='_blank'
        class='w-fit text-zinc-700 dark:text-gray-400  cursor-pointer duration-100 ease-out hover:scale-110 hover:-translate-y-1'
        >
        <span><Github /></span>
        </a>
      </div>
    </div>
  </div>
  <MainInfo />
</section>
