---
import CloseNav from './icons/CloseNav.astro'
import IconNav from './icons/IconNav.astro'
---

<header
  class='absolute top-0 left-0 min-w-full min-h-[100dvh] text-center flex flex-col justify-center items-center gap-6'
>
  <div
    id='bg-white-navbar'
    class='absolute -top-full left-0 z-30 w-full h-full bg-white transition-all ease-out duration-500'
  >
    <div
      class='absolute bottom-10 left-0 right-0 flex justify-center w-full h-5'
    >
      <span id='btnCloseNav' class=''>
        <CloseNav />
      </span>
    </div>
  </div>
  <div
    class='bg-transparent group flex justify-end md:justify-start items-center absolute top-0 left-0 w-full h-14 group transition-all ease-in-out duration-200 md:hover:bg-zinc-800 md:hover:shadow-md md:hover:shadow-zinc-800 px-4'
  >
    <div
      class='absolute top-3 right-3 z-50 md:sticky flex justify-center items-center w-fit md:hidden'
    >
      <span
        id='btnMenu'
        class='text-gray-700 border border-gray-700 shadow-sm shadow-gray-800/30 rounded-md px-1 py-1 transition-all ease-out duration-200'
      >
        <IconNav />
      </span>
    </div>
    <nav
      id='navbar'
      class='opacity-0 md:opacity-100 absolute top-0 left-0 z-40 bg-white h-full py-10 md:py-0 md:h-fit md:bg-transparent w-full md:inline px-4 transition-all ease-out duration-700 md:group-hover:text-gray-200'
    >
      <ul
        id='ulNavbar'
        class='hidden md:flex flex-col bg-white md:bg-transparent gap-10 md:pt-3 md:h-fit w-full px-10 md:flex-row md:gap-20 [&>li]:border-b [&>li]:border-zinc-400 md:[&>li]:group-hover:border-zinc-800 [&>li]:shadow-[0px_5px_6px_-6px_#27272a]'
      >
        <a href='/'>
          <img
            class='w-8 h-8 bg-white p-1 rounded-full ms-8 transition-all ease-in-out duration-200 md:group-hover:invert'
            src='../../public/irvin.svg'
          />
        </a>
        <li
          class='relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-white group/item'
        >
          <a href='#'>My Projects</a>
          <div
            class='absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2'
          >
          </div>
        </li>
        <li
          class='relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-white group/item'
        >
          <a href='/about'>About me</a>
          <div
            class='absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2'
          >
          </div>
        </li>
        <li
          class='relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-white group/item'
        >
          <a href='/contact'>Contact me</a>
          <div
            class='absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2'
          >
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
