---
import DarkModeToggler from './DarkModeToggler.astro'
import CloseNav from './icons/CloseNav.astro'
import IconNav from './icons/IconNav.astro'

const { pathname } = Astro.url

const { page } = Astro.props
---

<header
  id="header-container"
  class='fixed z-[1000] top-0 left-0 right-0 min-w-full h-20 md:h-14 text-center flex flex-col justify-center items-center gap-6 bg-white dark:bg-gray-800'
>
  <div
    id='bg-white-navbar'
    class='absolute -top-[100vh] left-0 z-40 w-full  bg-white dark:bg-gray-950 dark:text-gray-100 transition-all ease-out duration-500'
  >
    <div
      class='absolute bottom-10 left-0 right-0 flex justify-center w-full h-5'
    >
      <button
        id='btnCloseNav'
        class='drop-shadow-[0_4px_9px_rgba(255,255,255)]'
      >
        <CloseNav />
      </button>
    </div>
  </div>
  <div
    class='bg-transparent group flex justify-end md:justify-start items-center absolute top-0 left-0 w-full h-14 group transition-all ease-in-out duration-200 md:shadow-md md:shadow-white dark:md:shadow-md dark:md:shadow-white/5 md:hover:bg-zinc-800 md:hover:dark:bg-transparent md:hover:shadow-md md:hover:shadow-zinc-800 dark:md:hover:shadow-white/10 px-4'
  >
    <div
      class='absolute top-3 right-3 z-50 md:sticky flex justify-center items-center w-fit md:hidden'
    >
      <button
        id='btnMenu'
        class='text-gray-700 border border-gray-700 dark:text-gray-200 dark:border-gray-200 shadow-sm shadow-gray-800/30 dark:shadow-md dark:shadow-gray-950 rounded-md px-1 py-1 transition-all ease-out duration-200'
        >
          <IconNav />
      </button>
    </div>
    <nav
      id='navbar'
      class='opacity-0 md:opacity-100 absolute top-0 left-0 z-40 bg-white text-zinc-600 dark:bg-gray-950 dark:md:bg-gray-800 h-full py-10 md:py-0 md:h-fit md:bg-transparent dark:md:text-gray-100 w-full md:inline md:px-4 transition-all ease-out duration-700 md:group-hover:text-gray-200'
    >
      <ul
        id='ulNavbar'
        class='hidden md:flex flex-col bg-white  dark:bg-gray-950 dark:text-gray-300/80 md:bg-transparent dark:md:bg-gray-800 gap-10 md:pt-3 md:h-fit w-full md:px-10 md:flex-row md:gap-20'
      >
        <a href='/irvin-landing/' class="w-8 h-8 bg-white p-1 rounded-full ms-8 transition-all ease-in-out duration-200 md:group-hover:invert">
          
            <img
              src='/irvin-landing/irvin.svg'
              alt='logotipo de irvin'
              width='30'
              height='auto'
            />
          <!-- {
            pathname.endsWith('/my-projects/landing-pages') ||
            pathname.endsWith('/my-projects/games') ||
            pathname.endsWith('/my-projects/react') ?
              <img
                src='../irvin.svg'
                alt='logotipo de irvin'
                width='30'
                height='auto'
              />
              :
              null
          } -->
        </a>
        <li
          class={`relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-gray-100 group/item ${pathname === '/irvin-landing/' ? 'dark:text-gray-100' : ''}`}
        >
          <a href='/irvin-landing/'>Hi!</a>
          <div
            class={`absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2 ${
              pathname === '/irvin-landing/' ? 'border-b-2 border-gray-400 dark:border-gray-100' : ''
            }`}
          >
          </div>
        </li>
        <li
          class={`relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-gray-100 group/item ${pathname.endsWith('/landing-pages') || pathname.endsWith('/react') || pathname.endsWith('/games') ? 'dark:text-gray-100' : ''}`}
        >
          <a href='/irvin-landing/my-projects/landing-pages' class='a-menu'>My Projects</a>
          <div
            class={`absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2 ${
              pathname.includes('/landing-pages') || pathname.includes('/full-stack') || pathname.includes('/games')  ? 'border-b-2 border-gray-400 dark:border-gray-100' : ''
            }`}
          >
          </div>
        </li>
        <li
          class={`relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-gray-100 group/item ${pathname === '/irvin-landing/about' ? 'dark:text-gray-100' : ''}`}
        >
          <a href='/irvin-landing/about'>About me</a>
          <div
            class={`absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2 ${
              pathname.includes('/about') ? 'md:border-b-2 border-gray-400 dark:border-gray-100' : ''
            }`}
          >
          </div>
        </li>
      </ul>
    </nav>
    <span class="w-24 mr-12 md:mr-0 md:w-44 h-full absolute right-0">
      <DarkModeToggler />
    </span>
  </div>
</header>

<!-- script for: navbar < btnMenu > -->
<script>
  const btnMenu = document.getElementById('btnMenu')
  const navbar = document.getElementById('navbar')
  const headerContainer = document.getElementById('header-container')

  const bgWhiteNavbar = document.getElementById('bg-white-navbar') // <------

  const ulNavbar = document.getElementById('ulNavbar')
  const btnCloseNav = document.getElementById('btnCloseNav')
  const darkModeToggler = document.querySelector('.darkModeToggler')
  const a_menu = document.querySelectorAll('.a-menu')

  // const a_about_experiencia = document.getElementById('a-about-experiencia')

  const openMenu = () => {
    // Open menu
    navbar.classList.toggle('opacity-0')
    headerContainer.classList.toggle('h-[100vh]')
    bgWhiteNavbar.classList.toggle('h-[100vh]')
    bgWhiteNavbar.classList.toggle('translate-y-full')
    ulNavbar.classList.toggle('hidden')
    ulNavbar.classList.toggle('flex')
    ulNavbar.classList.toggle('w-full')
    btnMenu.classList.add('opacity-0')
    btnMenu.classList.add('hidden')
    darkModeToggler.classList.add('hidden')

    // a_about_experiencia.classList.add('z-10')
    // a_about_experiencia.classList.remove('z-50')
  }

  const closeMenu = () => {
    // Close menu
    navbar.classList.add('opacity-0')
    headerContainer.classList.toggle('h-[100vh]')
    bgWhiteNavbar.classList.toggle('h-[100vh]')
    bgWhiteNavbar.classList.toggle('translate-y-full')
    ulNavbar.classList.toggle('hidden')
    ulNavbar.classList.toggle('flex')
    btnMenu.classList.remove('opacity-0')
    btnMenu.classList.remove('hidden')
    darkModeToggler.classList.remove('hidden')
    // a_about_experiencia.classList.remove('z-10')
    // a_about_experiencia.classList.add('z-50')
  }

  a_menu.forEach((a_element) => {
    a_element.addEventListener('click', function () {
      closeMenu()
    })
  })

  const handleClickBtnMenu = (e) => {
    openMenu()
  }

  const handleClickBtnCloseNav = (e) => {
    closeMenu()
  }

  btnMenu.addEventListener('click', handleClickBtnMenu)
  btnCloseNav.addEventListener('click', handleClickBtnCloseNav)
</script>
