---
import DarkModeToggler from './DarkModeToggler.astro'
import CloseNav from './icons/CloseNav.astro'
import IconNav from './icons/IconNav.astro'
---

<header
  class='absolute top-0 left-0 min-w-full min-h-[100dvh] text-center flex flex-col justify-center items-center gap-6'
>
  <div
    id='bg-white-navbar'
    class='absolute -top-full left-0 z-30 w-full h-full bg-white dark:bg-gray-950 dark:text-gray-100 transition-all ease-out duration-500'
  >
    <div
      class='absolute bottom-10 left-0 right-0 flex justify-center w-full h-5'
    >
      <span id='btnCloseNav' class='drop-shadow-[0_4px_9px_rgba(255,255,255)]'>
        <CloseNav />
      </span>
    </div>
  </div>
  <div
    class='bg-transparent group flex justify-end md:justify-start items-center absolute top-0 left-0 w-full h-14 group transition-all ease-in-out duration-200 md:hover:bg-zinc-800 md:hover:dark:bg-transparent md:hover:shadow-md md:hover:shadow-zinc-800 dark:md:hover:shadow-white/10 px-4'
  >
    <div
      class='absolute top-3 right-3 z-50 md:sticky flex justify-center items-center w-fit md:hidden'
    >
      <span
        id='btnMenu'
        class='text-gray-700 border border-gray-700 dark:text-gray-200 dark:border-gray-200 shadow-sm shadow-gray-800/30 dark:shadow-md dark:shadow-gray-950 rounded-md px-1 py-1 transition-all ease-out duration-200'
      >
        <IconNav />
      </span>
    </div>
    <nav
      id='navbar'
      class='opacity-0 md:opacity-100 absolute top-0 left-0 z-40 bg-white dark:bg-gray-950 dark:md:bg-gray-800 h-full py-10 md:py-0 md:h-fit md:bg-transparent dark:md:text-gray-100 w-full md:inline px-4 transition-all ease-out duration-700 md:group-hover:text-gray-200'
    >
      <ul
        id='ulNavbar'
        class='hidden md:flex flex-col bg-white dark:bg-gray-950 dark:text-gray-100 md:bg-transparent dark:md:bg-gray-800 gap-10 md:pt-3 md:h-fit w-full px-10 md:flex-row md:gap-20 [&>li]:border-b [&>li]:border-zinc-400 dark:[&>li]:border-transparent dark:md:[&>li]:border-transparent md:[&>li]:group-hover:border-zinc-800 dark:md:[&>li]:group-hover:border-transparent [&>li]:shadow-[0px_5px_6px_-6px_#27272a]'
      >
        <a href='/irvin-landing'>
          <img
            class='w-8 h-8 bg-white p-1 rounded-full ms-8 transition-all ease-in-out duration-200 md:group-hover:invert'
            src='../../public/irvin.svg'
          />
        </a>
        <li
          class='relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-white group/item'
        >
          <a href='#projects'>My Projects</a>
          <div
            class='absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2'
          >
          </div>
        </li>
        <li
          class='relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-white group/item'
        >
          <a href='/irvin-landing/about'>About me</a>
          <div
            class='absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2'
          >
          </div>
        </li>
        <li
          class='relative h-full cursor-pointer transition-all ease-out duration-150 md:hover:text-white group/item'
        >
          <a href='#contactme'>Contact me</a>
          <div
            class='absolute -z-10 -bottom-4 left-0 bg-transparent w-full h-12 transition-colors ease-out duration-200 md:group-hover/item:border-b-2'
          >
          </div>
        </li>
      </ul>
    </nav>
    <DarkModeToggler />
  </div>
</header>
