<section
  data-ComeUpBtn-color='white'
  data-ComeUpBtn-background-color='rgb(17 24 39)'
  data-ComeUpBtn-display='block'
  id="projects"
  class='landing-section w-full min-h-[100dvh] flex justify-center items-center'
>
  <h2 class='text-green-200 text-5xl'>Here goes my projects..</h2>
</section>
