---
const { id, url, title, subtitle } = Astro.props
---

<article
id={id}
class='mx-8 my-4 rounded-lg md:landing h-full max-h-40 bg-white landing-1 relative overflow-hidden transition-all duration-300 ease-in-out group text-center shadow-2xl shadow-white/5 hover:shadow-2xl hover:shadow-white/20'
>
<iframe
  src={url}
  frameborder=''
  width='100%'
  height='100%'
>
</iframe>
<!-- class for div below: md:group-hover:-z-10 -->
<div
  class='frontLayout absolute top-0 left-0 z-40 w-full h-full bg-gray-800/30 dark:bg-gray-950/20 backdrop-blur-sm  flex flex-col justify-center items-center'
>
  <span class='text-white dark:text-white/80 text-2xl md:text-4xl font-semibold tracking-wider drop-shadow-sm'
    >{title}</span
  >
  <span class='text-white/40 dark:text-white/70 text-md md:text-sm font-light tracking-[1px] md:tracking-[3px] drop-shadow-black drop-shadow-md pt-2'
    >{
      subtitle === 'land' ? 'Landing Page': '' || 
      subtitle === 'game' ? 'Game' : '' || 
      subtitle === 'react' ? 'React Project' : '' || 
      subtitle}</span
  >
</div>
<!-- class for anchor below: md:-z-10 -->
  <a
    class='absolute z-50 top-0 left-0 w-full h-full'
    href={url}
    target='_blank'>
  </a>
  <!-- colocar descripción de las tecnologias y tecnicas usadas y codigo de github -->
  
</article>